

/*@import "@angular/material/prebuilt-themes/deeppurple-amber.css";*/
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "primeicons/primeicons.css";
html, body { height: 100%;
  /*overflow: hidden;*/
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.p-datatable table { border-collapse: separate; }


thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 1px !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
mdc-text-field--filled{
  background-color: transparent !important;
  height: 92px !important;
}

.mat-mdc-dialog-container .mdc-dialog__surface{
  width: 70% !important;
}

.mat-mdc-text-field-wrapper{
  width:80% !important;
  margin-left: 15%!important;
}
.p-element{
  height : 100% !important;
}
